{
  "extends": "standard",
  "env": {
    "node": true,
    "es6": true
  },
  "plugins": [
    "hapi"
  ],
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "hapi/hapi-capitalize-modules": "error",
    "hapi/hapi-scope-start": "off",
    "hapi/no-arrowception": "error",
    "no-return-await": "error",
    "require-await": "error"
  }
}
